.action-bar{
    display: flex;
    
}

.bar{
    background-color:rgb(233, 15, 80);
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1em;
    margin: 0 2em;

}

.action-button{
    background-color: #ddd;
    height:70%;
    margin: 0 4em;
    width:5%;
    border-radius: 5px;
    border: 0px 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button:hover{
    box-shadow: 0.5px 0.5px;
}

.create-button {
    background-color: #ddd;
    color:black;
    
}


.delete-button {
    background-color: #ddd;
    color:black;
}